.background {
    width: auto;
    text-align: center;
    align-items: center;
    font-size: 200%;
    background-color: rgb(204, 218, 204);
}

.fonteinicio {
    font-size: 80%;
    text-align: center;
}

.drone {
    width: 600px
    text-alig center;
}

image{
    font-size: 20%;
}
